<div class="container-fluid">
    <h2 style="margin-top:50px;   color:  #800080 ;text-align: center;" class=""><span class="double" >Education</span></h2>
  <div class="education ">
    <div class="row ">
    <a href="#"><i class="fa fa-graduation-cap  float-child"  style="color:grey;" ></i></a>
    <p class="float-child" style="border: 2px solid #800080;color:grey;">BE in CSE from Reva University in the year 2015-2019 with an aggregate of  {{resdata.education[0].score}}. {{resdata.education[0].description}}</p>
    </div>
    <div class="row ">
        <a href="#"><i class="fa fa-graduation-cap float-child" style="color:grey;"></i></a>
        <p  class="float-child" style="border: 2px solid #800080;color:grey;"> XII PUC PCMC from KMWA PU College in the year 2013-2015 </p>
    </div>
    <div class="row ">
     <a href="#"><i class="fa fa-graduation-cap float-child"  style="color:grey;"></i></a>
     <p  class="float-child" style="border: 2px solid #800080;color:grey; ">Schooling from Kendriya Vidyalaya until 2013 </p>
    </div>
</div>
</div>