<div class="container-fluid">
<h2 style="margin-top:50px;  color:  #800080 ;text-align: center;" ><span class="double" >Experience</span></h2>
  <div class="experience ">
<div class="row offset-md-3 offset-xs-0 form-group">
    <div class="img col-md-4 mh-100">
        <img src="./assets/images/tcs.jpg" alt="Mountains"  height="200px" >
    </div>
    <div class="desc col-md-4 mh-100">
       <p> {{resdata.projects[3].description}}</p>
    </div>
</div>
<div class="row offset-md-3 form-group">
    <div class="img col-md-4 mh-100" >
        <img src="./assets/images/Picbuddy.png" alt="Mountains" height="200px">
    </div>
    <div class="desc col-md-4 mh-100" >
       <p> {{resdata.projects[4].description}} </p>
    </div>
</div>
<div class="row offset-md-3 form-group">
    <div class="img col-md-4 mh-100">
        <img src="./assets/images/Think&Ink.PNG" alt="Mountains"  height="200px">
    </div>
    <div class="desc col-md-4 mh-100" >
      <p> {{resdata.projects[1].description}}</p> 
    </div>  
</div>
<div class="row offset-md-3 form-group">
    <div class="img col-md-4 mh-100" >
        <img src="./assets/images/BEL.jpg" alt="Mountains"  height="200px">
    </div>
    <div class="desc col-md-4 mh-100" >      
       <p> {{resdata.projects[2].description}}</p>
    </div> 
</div>
<div class="row offset-md-3 form-group">
    <div class="img col-md-4 mh-100" >
        <img src="./assets/images/NIIT.png" alt="Mountains" class="mx-auto"  >
    </div>
    <div class="desc col-md-4 mh-100">
       <p> {{resdata.projects[0].description}}</p>
    </div>  
</div>
</div>
</div> 
